/* Put your CSS here */
body {
	margin: 0;
	padding: 0;
}
.content {
	margin: 20px;
}
.active {
	font-weight: bold;
}
.profile {
	margin: 20px 0;
}
.footer {
	clear:both;
	width:100%;
	text-align: center;
}
.hist {
	margin:0px auto;
	float: none;
}
.cmt {
	height: 400px;
	overflow-y: scroll;
}
.name:hover {
	cursor: pointer;
} 